# Environments and Caches
# Poetry's default virtual environment location
/.venv
/venv
/env
__pycache__/

# Python Compiled Files
*.py[cod]
*$py.class

# Distribution and Packaging
/dist
/build
*.egg-info/

# Project Metadata and Caches (Poetry)
# The .poetry folder is typically ignored, but it might be hidden in your user directory.

# MyPy / Static Analysis
.mypy_cache/

# Ruff
.ruff_cache/

# Logs and DB
*.log
db.sqlite3
# Redis persistence file
dump.rdb

.env